<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.dao.Company.CompanyMapper">

    <resultMap id="map1" type="company">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="expiration_date" property="expirationDate"></result>
        <result column="address" property="address"></result>
        <result column="license_id" property="licenseId"></result>
        <result column="representative" property="representative"></result>
        <result column="phone" property="phone"></result>
        <result column="company_size" property="companySize"></result>
        <result column="industry" property="industry"></result>
        <result column="remarks" property="remarks"></result>
        <result column="state" property="state"></result>
        <result column="balance" property="balance"></result>
        <result column="city" property="city"></result>
    </resultMap>


    <select id="findAll" resultMap="map1">
        SELECT * from ss_company
    </select>

    <select id="findById" resultMap="map1">
        SELECT * from ss_company where id = #{id}
    </select>

    <insert id="save" parameterType="company">
        INSERT INTO ss_company
        VALUES (
          #{id},
          #{name},
          #{expirationDate},
          #{address},
          #{licenseId},
          #{representative},
          #{phone},
          #{companySize},
          #{industry},
          #{remarks},
          #{state},
          #{balance},
          #{city}
        )
    </insert>

    <update id="update" parameterType="company">
        UPDATE ss_company
        SET
        name=#{name},
        expiration_date=#{expirationDate},
        address=#{address},
        license_id=#{licenseId},
        representative=#{representative},
        phone=#{phone},
        company_size=#{companySize},
        industry=#{industry},
        remarks=#{remarks},
        state=#{state},
        balance=#{balance},
        city=#{city}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM ss_company WHERE id = #{id}
    </delete>
</mapper>